@value tokens: "../style/tokens.module.css";
@value spacer1, spacer2 primaryColor from tokens;

.grid {
  display: grid;
  grid-row-gap: 1rem;
}

.opv {
  grid-column: span 5;
}

.farmtype {
  grid-column: span 2;
}

.sliders {
  grid-column: span 3;
}

.row {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  grid-column: span 5;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}

.borderradius {
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 2rem;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.article2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 0;
}

.article3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
}

.section {
  max-width: 15rem;
  padding: 2rem 0;
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  cursor: pointer;
}

.hidden:checked+img {
    border: .5rem solid #a4ebf3;
    border-radius: .7rem;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.cost {
  grid-column: span 2;
}

.radios {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  padding: 2rem 0;
  border-radius: .5rem;
}

.costgrid {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.totalprice {
  font-weight: 800;
  margin-top: 1rem;
}

.lihome {
  font-size: .6rem;
}
